.breadcrumb {
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(119, 119, 119, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb-item {
    border-right: 1px solid rgba(119, 119, 119, 0.2);
    margin-right: 1rem;
    padding: 0.5rem 0;
    padding-right: 2rem;
    position: relative;
    text-transform: capitalize;

    &:last-child {
        border-right: none;
        margin-right: 0;
    }
}