<div class="header-menu-container">
  <ul class="menu">
    <li class="menu-item" [ngClass]="currentUrl?.includes('/home') ? 'active' : ''">
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li class="menu-item" [ngClass]="currentUrl?.includes('/about') ? 'active' : ''">
      <a [routerLink]="['/about']">About</a>
    </li>
    <li class="menu-item" [ngClass]="currentUrl?.includes('/portfolio') ? 'active' : ''">
      <a [routerLink]="['/portfolio']">Portfolio</a>
    </li>
  </ul>
</div>

<div class="sub-menu-container" *ngIf="currentUrl?.includes('/about')">
  <ul class="sub-menu">
    <li class="sub-menu-item" [ngClass]="currentUrl?.includes('/about/profile') ? 'active' : ''">
      <a [routerLink]="['about/profile']">
        Profile
      </a>
    </li>
    <li class="sub-menu-item" [ngClass]="currentUrl?.includes('/about/journey') ? 'active' : ''">
      <a [routerLink]="['about/journey']">
        Journey
      </a>
    </li>
  </ul>
</div>

<div class="sub-menu-container" *ngIf="currentUrl?.includes('/portfolio')">
  <ul class="sub-menu">
    <li class="sub-menu-item" [ngClass]="currentUrl?.includes('/portfolio/travelog') ? 'active' : ''">
      <a [routerLink]="['portfolio/travelog']">
        Travelog
      </a>
    </li>
    <li class="sub-menu-item" [ngClass]="currentUrl?.includes('/portfolio/blog') ? 'active' : ''">
      <a [routerLink]="['portfolio/blog']">
        Blog
      </a>
    </li>
    <li class="sub-menu-item" [ngClass]="currentUrl?.includes('/portfolio/foodie') ? 'active' : ''">
      <a [routerLink]="['portfolio/foodie']">
        Foodie
      </a>
    </li>
  </ul>
</div>